<%= form_with(model: user) do |form| %>
  <%= render partial: 'layouts/error_explanation', locals: { model: form.object } %>

  <div class="mb-3">
    <%= form.label :name, class: 'form-label' %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :email, class: 'form-label' %>
    <%= form.text_field :email, class: 'form-control' %>
  </div>

  <section class="mb-3">
    <%= form.submit class: 'btn btn-dark' %>
  </section>
<% end %>
