<h1>User <%= @user.id %></h1>

<dl class="row">
  <dt class="col-2">Name:</dt>
  <dd class="col"><%= @user.name %></dd>
</dl>

<dl class="row">
  <dt class="col-2">Email:</dt>
  <dd class="col"><%= @user.email %></dd>
</dl>

<section class="btn-group" role="group">
  <%= link_to 'Edit', edit_user_path(@user), class: 'btn btn-outline-dark' %>
  <%= link_to 'Back', users_path, class: 'btn btn-outline-dark' %>
</section>
